.iziToast {
  margin-top: 36px !important;
  margin-right: 36px !important;
  max-width: 432px !important;
  max-height: 88px !important;
}
.iziToast-message {
  font-family: var(--font-family), sans-serif;
  font-weight: 400;
  font-size: 16px !important;
  line-height: 1.5;
  letter-spacing: 0.03em;
  color: #fafafb;
}
.iziToast > .iziToast-close {
  font-size: 34px !important;
  filter: brightness(0) invert(1);
}
